*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerCalculatrice{
    height: 500px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

.resultContainer{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.result h1{
    font-size: 50px;
}

.result input{
    height: 50%;
    width: 100%;
    padding: 5px;
    font-size: 30px;
    text-align: end;
    border: none;
    border-radius: 5px;
}

.result input:hover{
    background-color: #f1f0f0;
}

.result input:focus{
    outline: none;
}


.touchesContainer{  
    height: 65%;
    display: flex;
}

.chiffresPart, .operationPart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.chiffresPart{
    width: 60%;

}

.operationPart{
    width: 40%;
}

button{
    margin-right: 20px;
    height : 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.doubleBtn{
    width: 182px;
}